{% extends 'social/index.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'social/css/home_styles.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'social/js/js.js' %}" type="text/javascript"></script>
{% endblock %}


{% block middle-container %}
    <div class="home-middle-container">
        <ul class="posts-ul">
            {% for item in followings %}
                {% if item.target_profile.posts.all %}
                    <li>
                        <div class="post-container">
                            <div class="post-username">
                                <a href="{% url 'others_profile' username=item.target_profile.user.username %}">{{ item.target_profile.user.username }}</a>
                                <div class="post-nav tooltip">
                                    <figure class="post-nav-icon"></figure>
                                    <div class="post-subnav-content tooltiptext" id="post-subnav-content">
                                        <a>Save</a>
                                    </div>
                                </div>
                            </div>
                            {#                    <li>#}
                            <img src="{{ item.target_profile.posts.first.photo.url }}" class="post-image">
                            {#                    </li>#}
                            <div class="post-likes">
                                <form method="post" class="post-likes-form">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ item.target_profile.posts.first.id }}"
                                           name="like_post_id">
                                    <button type="submit" style="background-color: inherit" class="post-like-btn">
                                        <figure class="likes-icon"></figure>
                                    </button>
                                    {{ item.target_profile.posts.first.likes_count }}
                                </form>

                                <button type="button">
                                    <figure class="comment-icon" id="{{ item.target_profile.posts.first.id }}"
                                            onclick="comment_form_display(this.id)"></figure>
                                </button>

                                {{ item.target_profile.posts.first.comments_count }}
                            </div>

                            <div class="post-caption">
                                <div class="post-caption-div"
                                     id="post-caption-div-{{ item.target_profile.posts.first.id }}">
                                    {{ item.target_profile.posts.first.caption }}
                                </div>
                                <form method="post" class="post-comment"
                                      id="post-comment-{{ item.target_profile.posts.first.id }}">
                                    {% csrf_token %}
                                    <input type="text" name="comment_text" class="comment-text"
                                           value="Write your comment here...">
                                    <button type="submit" class="post-comment-btn"
                                            value="{{ item.target_profile.posts.first.id }}" name="comment_post_id">send
                                    </button>
                                </form>
                                {% if item.target_profile.posts.first.comments.all %}
                                    <div class="comments-div">
                                        <ul>
                                            {% for comment in item.target_profile.posts.first.comments.all %}
                                                {% if comment.is_active %}
                                                    <li class="comment" id="{{ comment.id }}">
                                                        <p>{{ comment.user.username }} : {{ comment.content }}</p>

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </li>

                {% endif %}
            {% endfor %}
        </ul>
    </div>



{% endblock %}
