{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>sms verify</title>#}
{#</head>#}
{#<body>#}
{#<form action="." method="post">#}
{#    {% csrf_token %}#}
{#    <input type="number" name="phone-number" readonly value="{{ phone_number }}">#}
{#    <input type="number" name="otp">#}
{#    <input type="submit" value="check code">#}
{#</form>#}
{#{{ message }}#}
{##}
{#</body>#}
{#</html>#}

{% extends 'registration/register-user.html' %}
{% load static %}
{% block main-screen %}
    <div class="verify-main-screen">
        <form action="." method="post" class="sms-verify-form">
            {% csrf_token %}
            <input type="number" name="phone-number" readonly value="{{ phone_number }}">
            <div><label>Code</label><input type="number" name="otp"></div>
            <span class="errors-text">{{ message }}</span>
            <button type="submit">Check Code</button>
        </form>
    </div>

{% endblock %}